.header{
    border-bottom: solid 1px rgba(128, 128, 128, 0.586);
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;
}

.logo{
    width: 100px;
    object-fit: contain;
}

