.create-employee, .name-form, .date-form, .adress-form, .state-zip-form{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.form-wrap{
    justify-content: center;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 800px;
    margin: 30px auto 20px auto;
    padding: 40px;
}

.create-employee{
    justify-content: center;
    column-gap: 20px;
}

.create-employee input, .create-employee select, .date-of-birth, .start-date{
    margin: 2px 10px 0 0;
    border-radius: 5px;
}

.create-employee input{
    height: 30px;
}

.create-employee select{
    height: 30px;
}

.form-title{
    text-align: center;
}

.adress-form-wrap, .name-date-form{
    margin: 20px;
}

.create-user-button-wrap{
    text-align: center;
    margin-top: 50px;
}

.create-user-btn{
    background-color: #4CAF50; /* Green */
    border-color: #4CAF50;
    border-radius: 15px;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    font-weight: 900;
}

.cancel-btn{
    background-color: #fff; /* Green */
    border-color: red;
    border-radius: 15px;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    font-weight: 900;
}

.react-date-picker__wrapper{
    border-radius: 5px;
}

.css-b62m3t-container{
    /* width: 153px; */
    width: 100%;
    margin-top: 2px;
}

.css-13cymwt-control{
    border-width: 2px;
}

.ss-qbdosj-Input{
    margin: 0;
    padding: 0;
}

.css-qbdosj-Input{
    margin: 0;
    height: 30px;
}

